<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <meta name="description" content="Smarthr - Bootstrap Admin Template">
	<meta name="keywords" content="admin, estimates, bootstrap, business, corporate, creative, management, minimal, modern, accounts, invoice, html5, responsive, CRM, Projects">
    <meta name="author" content="Dreamguys - Bootstrap Admin Template">
    <meta name="robots" content="noindex, nofollow">
    <title>MATA</title>
    
    <!-- Favicon -->
      <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.png">

	<!-- Bootstrap CSS -->
      <link rel="stylesheet" href="/assets/css/bootstrap.min.css">

	<!-- Fontawesome CSS -->
      <link rel="stylesheet" href="/assets/css/font-awesome.min.css">

	<!-- Lineawesome CSS -->
      <link rel="stylesheet" href="/assets/css/line-awesome.min.css">
      
      <!-- Main CSS -->
       <link rel="stylesheet" href="/assets/css/style.css">
    
	<link rel="stylesheet" type="text/css" href="/assets/css/example-styles.css">
	<!--     <link rel="stylesheet" type="text/css" href="/assets/css/demo-styles.css"> -->
	<style type="text/css">
	.table-wrapper {
	    overflow-x: auto;
	    overflow-y: visible;
	}
	</style>
</head>
<body>

<!-- Main Wrapper -->
	<div class="main-wrapper">
		<div th:replace="matatopmenu :: topmenufragment"> </div>
		<div th:replace="mataleftmenu :: leftmenu"></div>

		<!-- Page Wrapper -->
		<div class="page-wrapper">

			<!-- Page Content -->
			<div class="content container-fluid">
				
				<!-- Page Header -->
				<div class="page-header">
					<div class="row align-items-center">
						<div class="col">
							<h3 class="page-heaer">
								<i class="las la-file"> Event Report</i>
							</h3>
							<br>
							<ul class="breadcrumb">
								<li class="breadcrumb-item">Reports</li>
								<li class="breadcrumb-item active"><i class="las la-file"></i> Event Report</li>
							</ul>
						</div>
						<!-- <div class="col-auto float-right ml-auto"  id="excel-button" sec:authorize="hasAuthority('dailyreport_export')">
							<a th:href="@{/upload/time-transaction}" class="btn add-btn"><i class="las la-file-import"></i> Import TPL Time Log</a>
						</div>
						<div class="col-auto float-right ml-auto"  id="excel-button" sec:authorize="hasAuthority('dailyreport_export')">
							<a th:href="@{/upload/temp-transaction}" class="btn add-btn"><i class="las la-file-import"></i> Import TPL Temp Log</a>
						</div>
						<div class="col-auto float-right ml-auto"  id="excel-button" sec:authorize="hasAuthority('dailyreport_export')">	
							<a th:href="@{/upload/biosecurity}" class="btn add-btn"><i class="las la-file-import"></i> Import TE Log</a>
						</div>
						<div class="col-auto float-right ml-auto"  id="excel-button" sec:authorize="hasAuthority('dailyreport_export')">	
							<a th:href="@{/upload/easytimepro}" class="btn add-btn"><i class="las la-file-import"></i> Import SBG3 Log</a>
						</div>-->
					</div>
				</div>
				<!-- /Page Header -->
				
				<!-- Search Filter -->
				<div class="row filter-row">
					<div class="col-sm-6 col-md-3"> 
						<div class="form-group form-focus select-focus">
						 	<label ><b>Add Filter:</b></label>
					        <select id="people" name="people" multiple>
								<option value="id" >Id</option>
								<option value="startDate" >Start Date</option>
								<option value="endDate" >End Date</option>
								<option value="employeeId" >Employee Id</option>
								<option value="employeeName" >Employee Name</option>
								<option value="device" >Device</option>
								<option value="department" >Department</option>
								<option value="designation" >Designation</option>
					        </select>
						</div>
					</div>
					<div class="col-sm-1 col-md-1"> 
						<label><b>Employee</b></label>
						<input type="checkbox" id="only-employee" name="contact" value="only-employee">
					</div>
					<div class="col-sm-6 col-md-3">  
						<a class="btn btn-success btn-block searchButtonField"> Search </a>  
					</div>
				</div>
				<div style="display:none">
					<input type="hidden" id="orginalById">
					<input type="hidden" id="orginalByStartDate">
					<input type="hidden" id="orginalByEndDate">
					<input type="hidden" id="orginalByEmployeeId">
					<input type="hidden" id="orginalByEmployeeName">
					<input type="hidden" id="orginalByDevice">
					<input type="hidden" id="orginalByDepartment">
					<input type="hidden" id="orginalByDesignation">
				</div>
				<div id= "input-field" class="row">
				</div>
				<!-- /Search Filter -->
				
				<div class="row">
					<div class="col-md-12">
						<div class="table-wrapper">
							<table id="vehicle" class="table table-striped custom-table mb-0 datatable">
								<thead>
									<tr id="table-header">
									</tr>
								</thead>
								<tbody id="table-body">
								</tbody>
							</table><br>
								<div class = "row col-sm-12">
									<div class = "col-sm-7" id="filter-out-of-total">
									</div>
									
									<div class="pagination-box">
										<ul class="pagination"  id="page-no-of-table">
										</ul>
									</div>
								</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
	<div th:replace="matafooter :: footer"></div>
	

	<!-- Custom JS -->
	<script src="/assets/js/app.js"></script> 
    <script type="text/javascript" src="/assets/js/jquery.multi-select.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
	
	
	<script type="text/javascript">
		$(document).ready(function() {
			$("#even-report_menu").addClass("active");
			
			$(function(){
		        $('#people').multiSelect();
		        $('#ice-cream').multiSelect();
		        $('#line-wrap-example').multiSelect({
		            positionMenuWithin: $('.position-menu-within')
		        });
		        $('#modal-example').multiSelect({
		            'modalHTML': '<div class="multi-select-modal">'
		        });
	    	});
		
			$("#people").change(function() {
				var selectedvalue = $("#people").val();
				var selectedText = $("#people").text();
				
	     	    var matches = document.querySelectorAll('input[type="checkbox"]:not(:checked)');
	     	    var unchecked ='';
	     	    for(var i=0; i< matches.length; i++) {
	     	    	unchecked += '<input type="hidden" id="'+matches[i].value+'"/>';
	     	    }
	     	    
        	    var inputText = '';
        	    $("#input-field").empty();
        	   
        	    for(var i=0; i< selectedvalue.length; i++) {
					if(selectedvalue[i]=="startDate" || selectedvalue[i]=="endDate"){
						inputText += '<div class="col-md-3"><div class="form-group">'+
						'<label><b>'+selectedvalue[i][0].toUpperCase()+ selectedvalue[i].slice(1)+':</b></label> '+
						'<input type="date" placeholder="Enter '+selectedvalue[i]+'" id="'+selectedvalue[i]+'" class="form-control">'+
					'</div></div>';
					}
					else{
						inputText += '<div class="col-md-3"><div class="form-group">'+
						'<label><b>'+selectedvalue[i][0].toUpperCase()+ selectedvalue[i].slice(1)+':</b></label> '+
						'<input type="text" placeholder="Enter '+selectedvalue[i]+'" id="'+selectedvalue[i]+'" class="form-control">'+
					'</div></div>';
					}
				}
				
				$("#input-field").append(inputText+unchecked);
			});
			
			//start sort
			$(document).on('click', '.sortByField', function(e) {
				var value = $(this).val();
				var valueList = value.split("-");
				
				var id = document.getElementById('orginalById').value;
                var employeeId= document.getElementById('orginalByEmployeeId').value;
                var employeeName = document.getElementById('orginalByEmployeeName').value;
                var device = document.getElementById('orginalByDevice').value;
                var department = document.getElementById('orginalByDepartment').value;
                var designation = document.getElementById('orginalByDesignation').value;

                var sDate = "";
                
				ajaxCall(id, sDate, sDate, employeeId, employeeName, device, department, designation, "sortByField", "previousPage", valueList[0],valueList[1],valueList[2]);
				
        	})
        	//end sort 
        	
        	$(function(){
        		defautlSearch();
        	})
			
			function defautlSearch(){
				var id = document.getElementById('orginalById').value;
                var employeeId= document.getElementById('orginalByEmployeeId').value;
                var employeeName = document.getElementById('orginalByEmployeeName').value;
                var device = document.getElementById('orginalByDevice').value;
                var department = document.getElementById('orginalByDepartment').value;
                var designation = document.getElementById('orginalByDesignation').value;
				
                var sDate = "";
                
				ajaxCall(id, sDate, sDate, employeeId, employeeName, device, department, designation, "sortByField", "previousPage", 1,"id","desc");
			}
        	
			$(document).on('click', '.previousPage', function(e) {
				var value = $(this).val();
				var valueList = value.split("-");
				
				var id = document.getElementById('orginalById').value;
                var employeeId= document.getElementById('orginalByEmployeeId').value;
                var employeeName = document.getElementById('orginalByEmployeeName').value;
                var device = document.getElementById('orginalByDevice').value;
                var department = document.getElementById('orginalByDepartment').value;
                var designation = document.getElementById('orginalByDesignation').value;
                
                var sDate = "";
				
				ajaxCall(id, sDate, sDate, employeeId, employeeName, device, department, designation, "sortByField", "previousPage", valueList[0],valueList[1],valueList[2]);
        	})
			
			//start search and sort field
			$(document).on('click', '.sortBySearchField', function(e) {
				var value = $(this).val();
				var valueList = value.split("-");
				
				var id = document.getElementById('id').value;
				var sDate = document.getElementById('startDate').value;
	            var eDate = document.getElementById('endDate').value;
                var employeeId= document.getElementById('employeeId').value;
                var employeeName = document.getElementById('employeeName').value;
                var device = document.getElementById('device').value;
                var department = document.getElementById('department').value;
                var designation = document.getElementById('designation').value;
				
                ajaxCall(id, sDate, eDate, employeeId, employeeName, device, department, designation, "sortBySearchField", "nextPage", valueList[0], valueList[1], valueList[2]);
				
        	})
        	//end search and sort field
        	
        	$(document).on('click', '.nextPage', function(e) {
				var value = $(this).val();
				var valueList = value.split("-");
				
				var id = document.getElementById('id').value;
				var sDate = document.getElementById('startDate').value;
	            var eDate = document.getElementById('endDate').value;
                var employeeId= document.getElementById('employeeId').value;
                var employeeName = document.getElementById('employeeName').value;
                var device = document.getElementById('device').value;
                var department = document.getElementById('department').value;
                var designation = document.getElementById('designation').value;
				
                ajaxCall(id, sDate, eDate, employeeId, employeeName, device, department, designation, "sortBySearchField", "nextPage", valueList[0],valueList[1],valueList[2]);
        	})
			
        	$(document).on('click', '.searchButtonField', function(e) {
        		var selectedvalue = $("#people").val();
        		
        		if(selectedvalue.length == 0)
        			defautlSearch();
        		else{
        			var id = document.getElementById('id').value;
    				var sDate = document.getElementById('startDate').value;
    	            var eDate = document.getElementById('endDate').value;
                    var employeeId= document.getElementById('employeeId').value;
                    var employeeName = document.getElementById('employeeName').value;
                    var device = document.getElementById('device').value;
                    var department = document.getElementById('department').value;
                    var designation = document.getElementById('designation').value;
    				
                    ajaxCall(id, sDate, eDate, employeeId, employeeName, device, department, designation, "sortBySearchField", "nextPage", 1, "id", "desc");
        		}
        	})
	        	
	        function ajaxCall(id, sDate, eDate, employeeId, employeeName, device, department, designation, headFlag, pageFlag, pageno, sortField,sortDir) {
				var employee=($("#only-employee").is(":checked")?"Only Employee":"");
				var data = {
					"employee":employee,
	           		"id" : id,
	           		"sDate":sDate,
	           		"eDate":eDate,
	           		"employeeId":employeeId,
	           		"employeeName":employeeName,
	           		"device":device,
	           		"department":department,
	           		"designation":designation,
	           		"pageno":pageno,
	           		"sortField":sortField,
	           		"sortDir":sortDir
	            }; 
	         	
	            $.ajax({
	                url: '/api/search/transaction',
	                type: 'GET',
	               	data: data,
	               	success: function (result) {
	               		var table_header = tableHeader(result, headFlag);
	               		var table_data = tableData(result);
	               		var pageno = pagenoData(result, pageFlag);
	               		
						$("#table-header").html('').append(table_header);			
	               		
						$("tbody#table-body").html('').append(table_data);
						
	               		$("#filter-out-of-total").html('').append("Showing "+((null == result.data )?0:result.data.length)+" entries (filtered from "+result.total_record+" total entries)");
					
	               		$("#page-no-of-table").html('').append(pageno);
	               	}
	            })
	        }
			
	        function tableHeader(result, flag) {
				var table_header ='';
				if(result.data.length == 0) {
					table_header = '<th><b>Id</b></th>'+
					'<td><b>Date</b></td>'+
					'<td><b>Time</b></td>'+
					'<td><b>Employee Id </b></td>'+
					'<td><b>Name</b></td>'+
					'<td><b>Department</b></td>'+
					'<td><b>Designation</b></td>'+
					'<td><b>Device</b></td>'+
					'<td><b>Image</b></td>'+
					'<td><b>Action</b></td>';
						
						
				}else {
					table_header = '<th><button  value="'+result.page_number+'-id-'+result.sortDir+'" type="button" class="btn btn-link '+flag+'"><b>Id</b></button>'+
		   			'</th><th>'+
		   				'<button  value="'+result.page_number+'-punchDateStr-'+result.sortDir+'" type="button" class="btn btn-link '+flag+'"><b>Date</b></button>'+
		   			'</th><th>'+		
						'<button  value="'+result.page_number+'-punchTimeStr-'+result.sortDir+'" type="button" class="btn btn-link '+flag+'"><b>Time</b></button>'+	
					'</th><th>'+
		   				'<button  value="'+result.page_number+'-empId-'+result.sortDir+'" type="button" class="btn btn-link '+flag+'"><b>Employee Id</b></button>'+
		   			'</th><th>'+
		   				'<button  value="'+result.page_number+'-name-'+result.sortDir+'" type="button" class="btn btn-link '+flag+'"><b>Name</b></button>'+
		   			'</th><th>'+
		   				'<button  value="'+result.page_number+'-department-'+result.sortDir+'" type="button" class="btn btn-link '+flag+'"><b>Department</b></button>'+
		   			'</th><th>'+
		   				'<button  value="'+result.page_number+'-designation-'+result.sortDir+'" type="button" class="btn btn-link '+flag+'"><b>Designation</b></button>'+
		   			'</th><th>'+
		   				'<button  value="'+result.page_number+'-deviceName-'+result.sortDir+'" type="button" class="btn btn-link '+flag+'"><b>Device</b></button>'+
		   			'</th><th><b>Image</b></th><td><b>Action</b></td>';
				}
				return table_header;
			}
	        
			function tableData(result) {
				var table_data ='';
           		$.each(result.data, function(i, customer) {
           			table_data +='<tr><td>' + customer.id + '</td>' ;
               	   
           			if(null!=customer.punchDateStr){
           				table_data += '<td>' + customer.punchDateStr+ '</td>' ;
           			}else{
           				table_data +='<td>' +' '+ '</td>' ;
           			}
               	   
           			if(null != customer.punchTimeStr){
           				table_data += '<td>' + customer.punchTimeStr + '</td>' ;
                	 }else{
                		 table_data +='<td>' +' '+ '</td>' ;
                	 }
           			
           			if(null != customer.empId){
           				table_data += '<td>' + customer.empId + '</td>' ;
           			}else{
           				table_data +='<td>' +' '+ '</td>' ;
           			}
               	   
           			if(null != customer.name){
           				table_data += '<td>' + customer.name + '</td>' ;
           			}else{
           				table_data +='<td>' +' '+ '</td>' ;
           			}
           			
           			if(null != customer.department){
           				table_data += '<td>' + customer.department + '</td>' ;
           			}else{
           				table_data +='<td>' +' '+ '</td>' ;
           			}
               	   
           			if(null != customer.designation){
           				table_data += '<td>' + customer.designation + '</td>' ;
           			}else{
           				table_data +='<td>' +' '+ '</td>' ;
           			}
               	   
           			if(null != customer.deviceName){
           				table_data += '<td>' + customer.deviceName + '</td>' ;
           			}else{
           				table_data +='<td>' +' '+ '</td>' ;
           			}
               	  
           			if(null != customer.cropImageByte){
           				table_data += '<td><img alt="No image" src="data:image/jpeg;base64,'+ customer.cropImageByte + '" width="100px""></td>' ;
           			}else{
           				table_data +='<td>' +' '+ '</td>' ;
           			}
               	   
           			
           			if((null != customer.empId) && (null == customer.employeeCode) ){
           				table_data +='<td> <a href="/add/employee-from-transaction/' + customer.id+'"  class="btn btn-primary"><i class="fa fa-plus"></i></a></td>' ;
           			}else{
           				table_data +='<td>' +' '+ '</td>' ;
           			}
           		});
           		return table_data;
			}
			
			function pagenoData(result, flag){
           		var pageno ='';
           		//pre
           		if(result.page_number<=1){
           			pageno += '<li class="page-item disabled">'+
						'<span  class="page-link" >Previous</span>'+
						'</li>';
           		}else{
           			pageno += '<li class="page-item">'+
           					'<button value="'+ (result.page_number-1) +'-id-desc" type="button" class="page-link '+flag+'">Previous</button>'+
						'</li>';
           		}
				
				for( var i= 1; i<=result.total_pages; i++){
					
					if(result.total_pages <= 8){
						if(i == result.page_number){
          					pageno += '<li class="page-item active">'+
      							'<button value="'+ i +'-id-desc" type="button" class="page-link '+flag+'">'+ i +'</button>'+
							'</li>';
          				}else{
          					pageno += '<li class="page-item">'+
      							'<button value="'+ i +'-id-desc" type="button" class="page-link '+flag+'">'+ i +'</button>'+
						'</li>';
          				}
           			}else{
           				if(i == 1){
    						if(1 == result.page_number){
               					pageno += '<li class="page-item active">'+
       								'<button value="'+ 1 +'-id-desc" type="button" class="page-link '+flag+'">'+ 1 +'</button>'+
    							'</li>';
           					}else{
    	       					pageno += '<li class="page-item">'+
    	   							'<button value="'+ 1 +'-id-desc" type="button" class="page-link '+flag+'">'+ 1 +'</button>'+
    							'</li>';
    	       				}
    						
    					} else if(i<=5){
    						if(result.page_number == 5 && i == 5){
    							pageno += '<li class="page-item">'+
    		   						'<span class="page-link"><b>..</b></span>'+
    		   					'</li>';
    	           				pageno += '<li class="page-item">'+
    								'<button value="'+ (i-1) +'-id-desc" type="button" class="page-link '+flag+'">'+ (i-1) +'</button>'+
    							'</li>';
    						
    							pageno += '<li class="page-item active">'+
    								'<button value="'+ i +'-id-desc" type="button" class="page-link '+flag+'">'+ i +'</button>'+
    							'</li>';
    							
    							pageno += '<li class="page-item">'+
    								'<button value="'+ (i+1) +'-id-desc" type="button" class="page-link '+flag+'">'+ (i+1) +'</button>'+
    							'</li>';
    							
    						} else if(result.page_number < 5){
    							if(i == result.page_number){
    	           					pageno += '<li class="page-item active">'+
    	       							'<button value="'+ i +'-id-desc" type="button" class="page-link '+flag+'">'+ i +'</button>'+
    								'</li>';
    	           				}else{
    	           					pageno += '<li class="page-item">'+
    	       							'<button value="'+ i +'-id-desc" type="button" class="page-link '+flag+'">'+ i +'</button>'+
    								'</li>';
    	           				}
    						}
               			} else if(i>5 && i < result.total_pages-3 && i== result.page_number){
               				
               				pageno += '<li class="page-item">'+
    	   						'<span class="page-link"><b>..</b></span>'+
    	   					'</li>';
               				pageno += '<li class="page-item">'+
    							'<button value="'+ (i-1) +'-id-desc" type="button" class="page-link '+flag+'">'+ (i-1) +'</button>'+
    						'</li>';
    					
    						pageno += '<li class="page-item active">'+
    							'<button value="'+ i +'-id-desc" type="button" class="page-link '+flag+'">'+ i +'</button>'+
    						'</li>';
    						
    						pageno += '<li class="page-item">'+
    							'<button value="'+ (i+1) +'-id-desc" type="button" class="page-link '+flag+'">'+ (i+1) +'</button>'+
    						'</li>';
           				}else if(i == result.total_pages-3){
           					pageno += '<li class="page-item">'+
    	   						'<span class="page-link"><b>..</b></span>'+
    	   					'</li>';
    						if(result.page_number == result.total_pages-3 && i == result.total_pages-3){
    							
    	           				pageno += '<li class="page-item">'+
    								'<button value="'+ (i-1) +'-id-desc" type="button" class="page-link '+flag+'">'+ (i-1) +'</button>'+
    							'</li>';
    						
    							pageno += '<li class="page-item active">'+
    								'<button value="'+ i +'-id-desc" type="button" class="page-link '+flag+'">'+ i +'</button>'+
    							'</li>';
    							
    							pageno += '<li class="page-item">'+
    								'<button value="'+ (i+1) +'-id-desc" type="button" class="page-link '+flag+'">'+ (i+1) +'</button>'+
    							'</li>';
    							pageno += '<li class="page-item">'+
    		   						'<span class="page-link"><b>..</b></span>'+
    		   					'</li>';
    							
    						} else if(result.page_number == result.total_pages || result.page_number == result.total_pages-1 || result.page_number == result.total_pages-2){
    							pageno += '<li class="page-item">'+
    								'<button value="'+ i +'-id-desc" type="button" class="page-link '+flag+'">'+ i +'</button>'+
    							'</li>';
    						}
           				} else if(i >= result.total_pages-2 && i < result.total_pages){
    						if(result.page_number >= result.total_pages-2) {
    							if(i == result.page_number){
    								pageno += '<li class="page-item active">'+
    									'<button value="'+ i +'-id-desc" type="button" class="page-link '+flag+'">'+ i +'</button>'+
    								'</li>';
    							}else{
    								pageno += '<li class="page-item">'+
    									'<button value="'+ i +'-id-desc" type="button" class="page-link '+flag+'">'+ i +'</button>'+
    								'</li>';
    							}
    						}
           				} else if(i == result.total_pages){
           					if(i == result.page_number){
           						pageno += '<li class="page-item active">'+
    	  							'<button value="'+ i +'-id-desc" type="button" class="page-link '+flag+'">'+ i +'</button>'+
    							'</li>';
           					}else{
           						pageno += '<li class="page-item ">'+
    	  							'<button value="'+ i +'-id-desc" type="button" class="page-link '+flag+'">'+ i +'</button>'+
    						'</li>';
           					}
              			}
           			}
           		}
           		
           		//next
           		if(result.page_number < result.total_pages){
           			pageno += '<li class="page-item" >'+
							'<button value="'+ (result.page_number+1) +'-id-desc" type="button" class="page-link '+flag+'">Next</button>'+
						'</li>';
           		}else{
           			pageno += '<li class="page-item disabled" >'+
							'<span  class="page-link" >Next</span>'+
						'</li>';
           		}
           		return pageno;
			}
	});
	</script>
</body>
</html>
