<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="mataheader :: headfragment">
</head>
<body>

	<!-- Main Wrapper -->
	<div class="main-wrapper">
		<div th:replace="matatopmenu :: topmenufragment"></div>
		<div th:replace="mataleftmenu :: leftmenu"></div>

		<!-- Page Wrapper -->
		<div class="page-wrapper">

			<!-- Page Content -->
			<div class="content container-fluid">

				<!-- Page Header -->
				<div class="page-header">
					<div class="row align-items-center">
						<div class="col">
							<h3 class="page-heaer">
								<i class="la la-video"> <b><span th:text="${title}"></span></b></i>
							</h3>
							<br>
							<ul class="breadcrumb">
								<li class="breadcrumb-item">Device</li>
								<li class="breadcrumb-item active">
									<span th:text="${title}"></span></li>
							</ul>
						</div>

					</div>
				</div>

				<div class="row">
					<div class="col-md-6">
						<div class="card">
							<div class="card-body">
								<form action="#" th:action="@{/device/add}" th:object="${device}" method="POST">

									<input type="hidden" th:field="*{id}" placeholder="Device Id" class="form-control"> 
									<input type="hidden" th:value="${title}" name="title" class="form-control mb-4 col-4">
										 
									<div class="form-group">
										<label><b>Organization:</b></label> 
										<select name="worker" th:field="*{organization}" class="form-control">
											<option th:each="organization : ${listOrganization}"
												th:value="${organization.id}" 
												th:text="${organization.name}">
										</select>
									</div>
									<div class="form-group">
										<label><b>Name:<font color="red">*</font></b></label> 
										<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="alert alert-danger"></p> 
										<input type="text" th:field="*{name}" placeholder="Enter Device Name" class="form-control" maxlength="50">
									</div>
									
									<div class="form-group">
										<label><b>Ip Address:</b></label> 
										<input type="text" th:field="*{ipAddress}" placeholder="Enter IP Address" class="form-control">
									</div>
									<div class="form-group">
										<label><b>Serial No:<font color="red">*</font></b></label> 
										<p th:if="${#fields.hasErrors('serialNo')}" th:errors="*{serialNo}" class="alert alert-danger"></p> 
										<input type="text" th:field="*{serialNo}" placeholder="Enter Serial No" class="form-control" maxlength="50">
									</div>
									<div class="form-group">
										<label><b>Model No:</b></label> 
										<input type="text" th:field="*{modelNo}" placeholder="Enter Model No" class="form-control" maxlength="50">
									</div>
									<div class="text-right">
										<button type="submit" class="btn btn-primary">Submit</button>
									     <a class="btn btn-danger" th:href="@{/device}">Cancel</a>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="matafooter :: footer"></div>
	<script src="/assets/js/app.js"></script> 
	<script>
	$(document).ready(function(){
		$("#branch").change(function() {
        });
	})
	</script>
</body>
</html>